body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  padding: 20px;
  background-color: #4169e1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.card-body {
  padding: 20px;
}

.card-body #weather-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#weather-icon {
  margin-right: 20px;
}

#weather-icon img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.weather-info {
  flex-grow: 1;
}

#temperature {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#description {
  font-size: 30px;
  color: #b03c3c;
  margin-bottom: 20px;
}

.search-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.search-card .search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-card .search-input input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
}

.search-card .search-input button {
  padding: 10px 20px;
  background-color: #2980b9;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.search-card .search-input button:hover {
  background-color: #1e6091;
}

#error-message {
  color: red;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 50px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

thead {
  background-color: #4169e1;
  color: #fff;
}

